.git
__pycache__
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.venv
**/venv
node_modules
frontend/node_modules
frontend/
mlruns
notebooks
artifacts/evaluation
faiss_artifacts
dvc_remote
.dvc/cache
.dvc/tmp
.env
