pandas
numpy
scikit-learn
faiss-cpu
python-dotenv
setuptools
azure-identity
azure-storage-blob
scipy
PyYAML
mlflow
dvc-azure
fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt<4
python-multipart
pydantic-settings
email-validator
pydantic
fastapi
uvicorn
langchain 
langgraph
rapidfuzz
langchain-google-genai
redis
